@model IEnumerable<BlockchainVotingApp.Areas.Manage.Models.Candidates.ViewModels.CandidatesItemViewModel>

<thead>
    <tr>
        <th>Full Name</th>
        <th>Organization</th>
        <th>Biography</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    @foreach (var candidate in Model)
    {
        <tr data-candidate-container-id="@candidate.Id">
            <td data-candidate-name="@candidate.FullName">@candidate.FullName</td>
            <td data-candidate-organization="@candidate.Organization">@candidate.Organization</td>
            <td data-candidate-biography="@candidate.Biography">@candidate.Biography</td>
            <td>
                <button class="btn btn-primary ms-2 px-1 py-0" data-edit-candidate="true" data-edit-candidate-id="@candidate.Id"><i class="fa-solid fa-pen"></i></button>
                <button class="btn btn-danger ms-2 px-1 py-0" data-delete-candidate="true" data-delete-candidate-id="@candidate.Id"><i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>
    }
</tbody>