@model BlockchainVotingApp.Areas.Manage.Models.Election.ViewModels.ElectionViewModel

<a href="/Manage/Election/CreateElection" class="btn btn-primary px-5 py-2 mb-5 mt-3">Create a new Election</a>

<div class="row">
    @foreach (var election in Model.Elections)
    {
        <div class="col-12 mb-5">
            <div class="card">

                <div class="card-header">
                    <div class="card-title">
                        <h4 class="card-label"><i class="fa-solid fa-check-to-slot"></i> @election.Name</h4>
                        @if ((int)election.State == 0)
                        {
                            <span class="badge bg-primary py-1 px-2">@election.State</span>
                        }
                        @if ((int)election.State == 1)
                        {
                            <span class="badge py-1 px-2" style="background-color:#e37300; cursor:not-allowed">@election.State</span>
                        }
                        @if ((int)election.State == 2)
                        {
                            <span class="badge bg-success py-1 px-2">@election.State</span>
                        }
                    </div>
                </div>
                <div class="card-body" id="electionCardBody">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="[data-details-panel='@election.Id']" type="button" role="tab" aria-controls="details" aria-selected="true">Details</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="[data-candidates-panel='@election.Id']" type="button" role="tab" aria-controls="candidates" aria-selected="false">Candidates</button>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="electionTabContent">
                        <div class="tab-pane fade show active" data-details-panel="@election.Id" role="tabpanel" aria-labelledby="details-tab">
                            <span style="display: block" class="mb-3">
                                <i class="fa-regular fa-calendar-days"></i>
                                <span>@election.StartDate - @election.EndDate</span>
                            </span>
                            @if (!string.IsNullOrEmpty(election.Rules))
                            {
                                <span style="display: block" class="mb-3">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>@election.Rules</span>
                                </span>
                            }
                            @if (!string.IsNullOrEmpty(election.County))
                            {
                                <span style="display: block" class="mb-3">
                                    <i class="fa-solid fa-city"></i>
                                    <span>@election.County</span>
                                </span>
                            }
                        </div>
                        <div class="tab-pane fade" data-candidates-panel="@election.Id" role="tabpanel" aria-labelledby="candidates-tab">
                            <div class="row">
                                <div class="col">
                                    <h5>List candidates</h5>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <button class="btn btn-warning rounded-pill py-1 px-4" data-create-candidate="true" data-election-id="@election.Id">Add</button>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <table id="candidatesTable" class="table" data-candidates-table="@election.Id">
                                    <partial name="/Areas/Manage/Views/Candidate/CandidatesListPartialView.cshtml" model="election.Candidates"/>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="addCandidateModal" tabindex="-1" aria-labelledby="addCandidateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCandidateModalLabel">Add candidate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" class="rounded-3 border border-white" id="addCandidateForm">
                    <div class="form-group mb-3">
                        <label class="mb-2">FirstName</label>
                        <input id="firstName" type="text" name="FirstName" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-2">LastName</label>
                        <input id="LastName" type="text" name="LastName" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-2">Organization</label>
                        <input id="organization" type="text" name="Organization" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-2">Biography</label>
                        <textarea id="biography" type="text" name="Biography" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit-usage">Add</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/manage/election/index.js"></script>
    }
