@model BlockchainVotingApp.Areas.Manage.Models.Election.ViewModels.ElectionViewModel


<a href="/Manage/Election/CreateElection" class="btn btn-primary px-5 py-2 mb-5 mt-3">Create a new Election</a>

<div class="row">
    @foreach (var election in Model.Elections)
    {
        <div class="col-12 mb-5">
            <div class="card">

                <div class="card-header">
                    <div class="card-title">
                        <h4 class="card-label"><i class="fa-solid fa-check-to-slot"></i> @election.Name</h4>
                        @if ((int)election.State == 0)
                        {
                            <span class="badge bg-primary py-1 px-2">@election.State</span>
                        }
                        @if ((int)election.State == 1)
                        {
                            <span class="badge py-1 px-2" style="background-color:#e37300; cursor:not-allowed">@election.State</span>
                        }
                        @if ((int)election.State == 2)
                        {
                            <span class="badge bg-success py-1 px-2">@election.State</span>
                        }
                    </div>
                </div>
                <div class="card-body" id="electionCardBody">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="[data-a-panel='@election.Id']" type="button" role="tab" aria-controls="details" aria-selected="true">Details</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="[data-b-panel='@election.Id']" type="button" role="tab" aria-controls="candidates" aria-selected="false">Candidates</button>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="electionTabContent">
                        <div class="tab-pane fade show active" data-a-panel="@election.Id" role="tabpanel" aria-labelledby="details-tab">
                            <span style="display: block" class="mb-3">
                                <i class="fa-regular fa-calendar-days"></i>
                                <span>@election.StartDate - @election.EndDate</span>
                            </span>
                            @if (!string.IsNullOrEmpty(election.Rules))
                            {
                                <span style="display: block" class="mb-3">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>@election.Rules</span>
                                </span>
                            }
                            @if (!string.IsNullOrEmpty(election.County))
                            {
                                <span style="display: block" class="mb-3">
                                    <i class="fa-solid fa-city"></i>
                                    <span>@election.County</span>
                                </span>
                            }
                        </div>
                        <div class="tab-pane fade" data-b-panel="@election.Id" role="tabpanel" aria-labelledby="candidates-tab">
                            <a href="#" class="btn btn-primary">Add candidates</a>
                            @*Table with candidates*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
